@import url("https://fonts.googleapis.com/css2?family=Gelasio:wght@700&family=Libre+Franklin&family=Ribeye&family=Roboto:wght@300;400;500;700&family=Source+Serif+4:opsz@8..60&family=Tenor+Sans:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
hr {
  margin-top: 65px;
  opacity: 0.6;
}
/* -------------common classes------------*/
.span {
  color: #999;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.author {
  color: #000;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  margin-top: 15px;
}

.card-text {
  color: #000;
  font-family: Tenor Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  text-transform: uppercase;
  margin-top: 15px;
}
/* -------------common classes------------*/
.main {
  min-width: 1220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

/*----------- navbar -----------*/

.navbar {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.nav-items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 auto; */
}

/* .navbar-logo {
} */

.navbar-navigator {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0 20px;
  height: 100%;
  align-items: center;
}

.navigator-item a {
  color: #000;
  font-family: Libre Franklin;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  text-transform: capitalize;
}

/*----------- home-page -----------*/

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 60px;
}

.home__main-page {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.home__main-page__img {
  width: 60%;
  object-fit: cover;
  border-radius: 10px;
}

.home__main-page__text {
  width: 40%;
  padding-top: 5px;
}

.home__main-page__text h1 {
  color: #000;
  font-family: Tenor Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 116.667% */
  text-transform: uppercase;
  margin-top: 10px;
}

.home__main-page__text p {
  color: #666;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 1px;
  margin-top: 20px;
}

.home__cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
  gap: 20px;
}

.card {
  width: calc(33% - 10px);
  padding-top: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  animation: pulse 0.5s linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.card__img {
  width: 100%;
  height: 257px;
  object-fit: cover;
  border-radius: 10px;
}

.card__text {
  width: 100%;
  margin-top: 20px;
}

/* ----------latest posts page------------ */

.latest {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 25px;
}

.posts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 25px;
}

.mini {
  width: calc(25% - 15px);
}

.posts-view-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
}

.posts-view-btn button {
  color: #000;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 20px 25px;
  border: 1px solid #000;
  background: #fff;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

/* featured posts */

.featured {
  width: 100%;
  margin: 0 auto;
  padding-top: 90px;
}

.large {
  width: calc(50% - 10px);
}

.large-post {
  height: 387px;
}

/* footer */

.footer {
  width: 100%;
  padding: 90px 0px;
  background: #141414;
  margin-top: 65px;
}

.footer-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.footer-logo {
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: flex-end;
}

.footer-logo h2 {
  color: #fff;
}

.footer-logo span {
  color: #666;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 4px;
}

.footer-navigator {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.footer-nav__category {
  width: 70%;
  padding-bottom: 15px;
}

.footer-nav__category ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.footer-nav__category ul li {
  width: 25%;
  padding-top: 15px;
}

.footer-nav__category ul li a {
  color: #fff;
  font-family: Libre Franklin;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  text-transform: capitalize;
}

.footer-nav__subscribe {
  width: 30%;
}

.footer-nav__subscribe form {
  margin-top: 25px;
  display: flex;
  width: 100%;
}

.footer-nav__subscribe form input {
  border: 1px solid #ccc;
  outline: none;
  background: #fff;
  color: #666;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 18px 24px;
  width: 70%;
}

.footer-nav__subscribe form button {
  background: #000;
  color: #fff;
  padding: 18px 24px;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  width: 30%;
  cursor: pointer;
}

.footer-nav__links {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 70%;
}

.link-item {
  width: 25%;
}

.link-item ul {
  margin-top: 15px;
}

.link-item ul li {
  padding: 5px 30px 5px 0px;
}

.link-item ul li a {
  color: #fff;
  font-family: Libre Franklin;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
